body {
    background-color: antiquewhite;
}

@media (min-width: 768px) {
body{
    background-color: darkcyan;
}
}

@media (min-width: 1200px) {
    body{
        background-color: rgb(139, 127, 16);
    }
    }